# This requirements for running server and detector
# pip install -r requirements.txt

python==3.7.10
tensorflow==2.5.0
opencv-python==4.1.2
flask==1.1.4
#flask_ngrok==0.0.25
pillow==7.1.2
numpy==1.19.5
pyfcm==1.5.1
requests==2.23.0
